<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>班费支出列表</title>
	<link rel="stylesheet" href="/lib/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	<div class="layui-header">
		<div th:replace="/manager/common/index :: #header"></div>
	</div>

	<div class="layui-side layui-bg-black">
		<div class="layui-side-scroll">
			<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
			<div th:replace="/manager/common/index :: #menu"></div>
		</div>
	</div>

	<div class="layui-body">
		<!-- 内容主体区域 -->
		<div style="padding: 15px;">
			<section class="layui-larry-box">
				<div class="larry-personal">
					<div class="layui-tab">
						<blockquote class="layui-elem-quote news_search">
							<div class="layui-inline">
							</div>
							<div class="layui-inline">
								<a class="layui-btn layui-btn-normal" onclick="openEdit()">添加记录</a>
							</div>
						</blockquote>

						<!-- 操作日志 -->
						<div class="news_list">
							<table class="layui-table">
								<colgroup>
									<col width="4%">
									<col width="14%">
									<col width="14%">
									<col width="14%">
									<col width="15%">
								</colgroup>
								<thead>
								<tr>
									<th>编号</th>
									<th style="text-align:left;">收缴金额</th>
									<th>缴费描述</th>
									<th>创建人</th>
									<th>缴费班级</th>
									<th>创建时间</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody class="news_content">
								<tr th:each="item : ${chargings}">
									<td>[[${item.id}]]</td>
									<td>[[${item.money}]]</td>
									<td>[[${item.chargingDesc}]]</td>
									<td>[[${item.username}]]</td>
									<td>[[${item.className}]]</td>
									<td>[[${item.createTime}]]</td>
									<td>
										<a class="layui-btn layui-btn-mini" th:attr="onclick='openEdit('+${item.id}+')'"  ><i class="iconfont icon-edit"></i> 修改</a>
										<a class="layui-btn layui-btn-normal" th:attr="onclick='payer('+${item.id}+','+1+')'" >已缴费人员</a>
										<a class="layui-btn layui-btn-warm"  th:attr="onclick='payer('+${item.id}+','+0+')'"  >未缴费人员</a>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<div class="layui-footer">
		<!-- 底部固定区域 -->
		© layui.com - 底部固定区域
	</div>
</div>
<script src="/lib/layui/layui.js"></script>
<script type="text/javascript" src="/js/managerJs/charging.js"></script>
</body>
</html>
