<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zys.class_cost_sb.mapper.ChargingHistoryMapper">
  <resultMap id="BaseResultMap" type="com.zys.class_cost_sb.pojo.ChargingHistory">
    <!--@mbg.generated-->
    <!--@Table charging_history-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="charging_id" jdbcType="INTEGER" property="chargingId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, `status`,charging_id, create_time,update_time
  </sql>
  <select id="findAllByStatus" resultType="java.util.Map">
    SELECT
	ch.id,
    ch.status,
	c.charging_desc chargingDesc,
	c.money,
	cl.class_name className,
	u.username,
    ch.create_time createTime,
 IFNULL(ch.update_time,'') updateTime
FROM
	charging_history ch
LEFT JOIN charging c ON ch.charging_id = c.id
left join classes cl on c.class_id = cl.id
left join user u on u.id = ch.user_id
where c.id = #{chargingId} and ch.status = #{status}
  </select>
    <select id="findStuChargingHistory" resultType="java.util.Map">
        SELECT
        ch.id,
        ch.`status`,
        c.charging_desc chargingDesc,
        c.money,
        ch.create_time createTime,
        u.username,
        IFNULL(ch.update_time,'') updateTime
        FROM
        charging_history ch
        LEFT JOIN charging c ON c.id = ch.charging_id
        left join user u on u.id = c.user_id
        where ch.user_id = #{userId}
    </select>
    <update id="updateStatusByIdAndUserId">
        update charging_history set status = #{status} where user_id = #{userId} and id = #{id}
    </update>
</mapper>